<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>All the posts</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/comments.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>

    <body>
    <div class="w3-top">
        <div class="w3-bar" id="myNavbar">
            <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
        <a href="/header" class="w3-bar-item w3-button">HOME</a>
        <a href="/post_list" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ALL POSTS</a>
        <a href="/posts" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> NEWEST</a>
        <a href="/contacts" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
        <a class="w3-bar-item w3-button w3-hover-red" href="/logout" >Log out</a>
        </div>
    </div>




    <div class="page-header">
        <h1 ><a href="/">All the blogs ever written here:</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>

</html>